# local config
/.env
/docker-compose.yml

# IDE & OS files
.*.swp
.DS_Store
.buildpath
.idea
.project
.settings
Thumbs.db
nbproject

# dynamic files
/composer.lock
/vendor
/.docker
.php_cs.cache
.phpunit.result.cache
coverage.clover

# Binaries
chkipper.phar
composer.phar
ocular.phar
php-cs-fixer.phar
phpstan.phar
phpunit-skelgen.phar
phpunit.phar
